<center><h4> Alimentación </h4></center>
<div class="row">
    <div class="input-field col s4">
    <select id="frec_despensa">
        <option></option>
        {% for despensa in lista_despensa %}
            <option {% if despensa.id == ese.despensas_list_id %} selected {% endif %} value='{{ despensa.id }}'>{{ despensa.texto }}</option>
        {% endfor %}
    </select>
    <label>Frecuencia de despensa</label>
    </div>
</div>
<div class="row">
    <div class="col s8">
        <table class="table">
            <thead>
                <th>Alimento</th>
                <th>Frecuencia</th>
                <th>Observaciones</th>
            </thead>
            <tbody class="striped">
                {% for alimento in lista_alimentos %}
                <tr>
                    <td>{{ alimento.texto }}</td>
                    <td>
                        <div class='input-field'>
                            <select class='alimento' data-observacion="" data-id="{{ alimento.id }}">
                                <option value="0"></option>
                                {% for frecuencia in lista_frecuencias %}
                                    <option {% for ali in alimentos %} {% if ali.alimentos_list_id == alimento.id and ali.frecuencias_list_id == frecuencia.id %} selected {% endif %} {% endfor %} value='{{ frecuencia.id }}'>{{ frecuencia.texto }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="input-field">
                            <input type="text" class="texto" {% for ali in alimentos %} {% if ali.alimentos_list_id == alimento.id %} value="{{ ali.observaciones }}" {% endif %} {% endfor %}/>
                            <label ></label>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<br>
<div class="row">
    <div class="col s2 push-s1">
        <button type="button" data-id="{{ datos.ese.id }}" class="btn waves-effect waves-light light-blue lighten-1" id="prev">
            Anterior <i class="material-icons left">chevron_left</i>
        </button>
    </div>
    <div class="col s3 push-s8">
        <button type="button" data-id="{{ datos.ese.id }}" class="btn waves-effect waves-light green lighten-1" id="next">
            Siguiente <i class="material-icons right">save</i>
        </button>
    </div>
</div>

<script>
    $("select").formSelect();
    $("#prev").click(function(ev){
        $("#form-container").hide().load("vivienda/" + this.dataset.id + "/").fadeIn("slow");
    });

    $("#next").click(function(ev){
        ev.preventDefault();

        $.each($('.alimento'), function(index, value){
            let observ_element = $(this).parent().parent().parent().parent().find('.texto')[0];
            this.dataset.observacion = $(observ_element).val().trim();
        });
        var alimentacion = {
            alimentos : preparar_array('.alimento', 'observacion'),
            despensas_list_id : $("#frec_despensa").val()
        };
        $.ajax({
            type: 'POST',
            url : 'alimentacion/crupdate/{{ ese.id }}',
            datatype : "json",
            crossDomain: false,
            contentType: "application/json; charset=utf-8",
            beforeSend: function (jqXHR, settings) {
                jqXHR.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            },
            data : JSON.stringify(alimentacion),
            success: function(response){
                response = JSON.parse(response);
                M.toast({
                    html: 'Alimntación actualizada con éxito',
                    displayLength: 5000,
                    activationPercent: 1
                });
                $("#form-container").hide().load("servicios-salud/" + response.id + "/").fadeIn("slow");
            }
        });
        
    });
</script>