{% load static %}

<center><h4> Datos Generales </h4></center>
<br/>
	<div class="row">
		<div class="input-field col s3">
			<input type="text" disabled value="{{ paciente.apellido_paterno|default_if_none:"" }}" id="apaterno" class="validation val-required"/>
			<label class="{% if paciente.apellido_paterno != None %} active {% endif %}" for="apaterno">Apellido Paterno</label>
		</div>
		<div class="input-field col s3">
			<input type="text" disabled id="amaterno" value="{{ paciente.apellido_materno|default_if_none:"" }}" class=""/>
			<label class="{% if paciente.apellido_materno != None %} active {% endif %}" for="amaterno">Apellido Materno</label>
		</div>
		<div class="input-field col s3">
			<input type="text" disabled id="nombres" value="{{ paciente.nombre|default_if_none:"" }}" class=""/>
			<label class="{% if paciente.nombre != None %} active {% endif %}" for="nombres">Nombre(s)</label>
		</div>
		<div class="input-field col s3">
			<input type="text" disabled id="fecha_nac" value="{{ paciente.fecha_nac|date:"Y-m-d" }}" class="datepicker"/>
			<label class="{% if paciente.fecha_nac != None %} active {% endif %}" for="fecha_nac">Fecha de nacimiento</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s2">
			<select disabled id="sexo" class="input-field">
				<option></option>
				{% for sexo in listas.sexos %}
					<option {% if sexo.id == paciente.sexo_id %} selected {% endif %} value="{{ sexo.id }}">{{ sexo.texto }}</option>
				{% endfor %}
			</select>
			<label for="sexo">Sexo</label>
		</div>
		<div class="input-field col s2">
			<select disabled id="edo_civil" class="input-field">
				<option></option>
				{% for edo_civil in listas.edos_civil %}
					<option {% if edo_civil.id == paciente.estado_civil_id %} selected {% endif %} value="{{ edo_civil.id }}">{{ edo_civil.texto }}</option>
				{% endfor %}
			</select>
			<label for="edo_civil">Estado civil</label>
		</div>
		<div class="input-field col s3">
			<select id="escolaridad" class="input-field">
				<option></option>
				{% for escolaridad in listas.escolaridades %}
					<option {% if escolaridad.id == datos.escolaridad_list_id %} selected {% endif %}  value="{{ escolaridad.id }}">{{ escolaridad.texto }}</option>
				{% endfor %}
			</select>
			<label for="escolaridad">Escolaridad</label>
		</div>
		<div class="input-field col s3">
			<select id="ocupacion" class="input-field">
				<option></option>
				{% for ocupacion in listas.ocupaciones %}
					<option {% if ocupacion.id == datos.ocupaciones_list_id %} selected {% endif %} title="{{ ocupacion.observacion }}"  value="{{ ocupacion.id }}">{{ ocupacion.texto }}</option>
				{% endfor %}
			</select>
			<label for="ocupacion">Ocupación</label>
		</div>
		<div class="input-field col s2">
			<select id="discapacidad" class="input-field">
				<option></option>
				{% for discapacidad in listas.discapacidades %}
					<option {% if discapacidad.id == datos.discapacidad_list_id %} selected {% endif %} title="{{ discapacidad.observacion }}"  value="{{ discapacidad.id }}">{{ discapacidad.texto }}</option>
				{% endfor %}
			</select>
			<label for="discapacidad">Discapacidad</label>
		</div>
	</div>
	<br/>
	<input type="hidden" value="{{ datos.id }}" id="ese-id"/>
<div class="row">
	<div class="col s3 push-s10">
		<button type="button" class="waves-effect waves-light btn green lighten-1" id="next">Siguiente <i class="material-icons right">save</i></button>
	</div>
</div>
<script>
    //$("select").selectize();
	$('select').formSelect();
	$('.datepicker').datepicker();

	$("#next").on('click', function(ev){
		ev.preventDefault();
        /*console.log(validar());
        if(!validar())
            return false;*/
		datos_generales = {
			apaterno : $("#apaterno").val().trim(),
			amaterno : $("#amaterno").val().trim(),
			nombres : $("#nombres").val().trim(),
			fecha_nacimiento : $("#fecha_nac").val(),
			sexo_list_id : $("#sexo").val(),
			estado_civil_list_id : $("#edo_civil").val(),
			ocupaciones_list_id : $("#ocupacion").val(),
			escolaridad_list_id : $("#escolaridad").val(),
			discapacidad_list_id : $("#discapacidad").val()
		};
		$.ajax({
			type: 'POST',
			url : $("#ese-id").val().trim().length == 0 ? 'datos-generales/crupdate/' : 'datos-generales/crupdate/' + $("#ese-id").val(),
			datatype : "json",
			crossDomain: false,
    		contentType: "application/json; charset=utf-8",
			beforeSend: function (jqXHR, settings) {
				jqXHR.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
			},
			data : JSON.stringify(datos_generales),
			success: function(response){
				response = JSON.parse(response);
				M.toast({
					html: 'Datos generales actualizados con éxito',
					displayLength: 5000,
					activationPercent: 1
				});
				$("#form-container").hide().load('domicilio/' + response.id).fadeIn('slow');
			}
		});
	});
</script>
