{% load static %}

<center><h4>Domicilio</h4></center>
<br/>
<div class="row">
	<div class="input-field col s4">
		<input type="Text" id="calle" value="{{ datos.calle|default_if_none:"" }}" class="" />
		<label class="{% if datos.calle != None %} active {% endif %}" for="calle">Calle</label>
	</div>
	<div class="input-field col s4">
		<input type="Text" value="{{ datos.entre_calles|default_if_none:"" }}" id="entre_calles" class="" />
		<label class="{% if datos.entre_calles != None %} active {% endif %}" for="entre_calles">Entre Calles</label>
	</div>
	<div class="input-field col s2">
		<input type="Text" value="{{ datos.num_exterior|default_if_none:"" }}" id="num_exterior" class="" />
		<label class="{% if datos.num_exterior != None %} active {% endif %}" for="num_exterior">Número Exterior</label>
	</div>
	<div class="input-field col s2">
		<input type="Text" value="{{ datos.num_interior|default_if_none:"" }}" id="num_interior" class="form-control" />
		<label class="{% if datos.num_interior != None %} active {% endif %}" for="num_interior">Número Interior</label>
	</div>
</div>
<div class="row">
    <div class="input-field col s5">
		<input type="Text" id="ref_domicilio" value="{{ datos.ref_domicilio|default_if_none:"" }}" class="form-control" />
		<label class="{% if datos.ref_domicilio != None %} active {% endif %}" for="referencias">Referencias del domicilio</label>
	</div>
	<div class="input-field col s3">
		<input type="Text" id="colonia" value="{{ datos.colonia|default_if_none:"" }}" class="form-control" />
		<label class="{% if datos.colonia != None %} active {% endif %}" for="colonia">Colonia</label>
	</div>
	<div class="input-field col s3">
		<input type="Text" id="localidad" value="{{ datos.localidad|default_if_none:"" }}" class="form-control" />
		<label class="{% if datos.localidad != None %} active {% endif %}" for="localidad">Localidad</label>
	</div>
	<div class="input-field col s1">
		<input type="Text" id="cp" value="{{ datos.codigo_postal|default_if_none:"" }}" class="form-control" />
		<label class="{% if datos.codigo_postal != None %} active {% endif %}" for="cp">C.P.</label>
	</div>
</div>
<div class="row">
	<div class="input-field col s4">
		<input type="email" id="email" value="{{ datos.email|default_if_none:"" }}" class="form-control" />
		<label autocomplete="false" class="{% if datos.email != None %} active {% endif %}" for="email">Email</label>
	</div>
	<div class="input-field col s4">
		<input type="text" id="telefono" value="{{ datos.telefono_fijo|default_if_none:"" }}" class="form-control" />
		<label class="{% if datos.telefono_fijo != None %} active {% endif %}" for="telefono">Teléfono</label>
	</div>
	<div class="input-field col s4">
		<input type="text" id="celular" value="{{ datos.telefono_celular|default_if_none:"" }}" class="form-control" />
		<label class="{% if datos.telefono_celular != None %} active {% endif %}" for="celular">Celular</label>
	</div>
</div>
<br/>
<div class="row">
	<div class="col s2 push-s1">
		<button type="button" data-id="{{ datos.id }}" class="btn waves-effect waves-light light-blue lighten-1" id="prev">
			Anterior <i class="material-icons left">chevron_left</i>
		</button>
	</div>
	<div class="col s3 push-s8">
		<button type="button" data-id="{{ datos.id }}" class="btn waves-effect waves-light green lighten-1 pulse" id="next">
			Siguiente <i class="material-icons right">save</i>
		</button>
	</div>
</div>
<script>
	$("#prev").click(function(ev){
		$("#form-container").hide().load("datos-generales/" + this.dataset.id + "/").fadeIn("slow");
	});
	$("#next").click(function(ev){
		ev.preventDefault();
		var domicilio = {
			colonia : $("#colonia").val().trim(),
			localidad: $("#localidad").val().trim(),
			codigo_postal : $("#cp").val().trim(),
			email : $("#email").val().trim(),
			calle : $("#calle").val().trim(),
			entre_calles : $("#entre_calles").val().trim(),
			telefono : $("#telefono").val().trim(),
			celular : $("#celular").val().trim(),
			num_exterior : $("#num_exterior").val().trim(),
			num_interior : $("#num_interior").val().trim(),
            ref_domicilio : $("#ref_domicilio").val().trim()
		};
		var id = this.dataset.id;
		$.ajax({
			type: 'POST',
			url : 'domicilio/crupdate/{{ datos.id }}',
			datatype : "json",
			crossDomain: false,
    		contentType: "application/json; charset=utf-8",
			beforeSend: function (jqXHR, settings) {
				jqXHR.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
			},
			data : JSON.stringify(domicilio),
			success: function(response){
				response = JSON.parse(response);
				M.toast({
					html: 'Domicilio actualizado con éxito',
					displayLength: 5000,
					activationPercent: 1
				});
				$("#form-container").hide().load("integrantes/" + id + "/").fadeIn("slow");
			}
		});
	});
</script>