<center><h4> Egresos</h4></center>
<br/>
<div class="row">
    <div class="input-field col s2">
        <select id="tipo_egreso">
            <option></option>
            {% for tipo in tipos %}
                <option value="{{ tipo.id }}">{{ tipo.texto }}</option>
            {% endfor %}
        </select>
        <label for="tipo_egreso">Tipo de Egreso</label>
    </div>
    <div class="input-field col s2">
        <i class="material-icons prefix">monetization_on</i>
        <input type="number" min="0" id="cantidad"/>
        <label for="cantidad">Cantidad</label>
    </div>
    <div class="input-field col s7">
        <input type="text" id="observacion"/>
        <label for="obervacion">Observación</label>
    </div>
    <div class="col s1">	
  		<a id="add_egreso" class="btn waves-effect waves-light green lighten-1"><i class="material-icons">save</i></a>
		<!--<button style="margin-top: 37%" id="add_dependiente" class="btn btn-primary btn-block">Agregar</button>-->
	</div>
</div>
<br />
<div class="row">
    <div class="col s12">
        <table class="stripped highlight">
            <thead>
                <th style="width:200px;">Tipo</th>
                <th style="width:200px;">Cantidad</th>
                <th>Observacion</th>
                <th style="width:150px;">Acciones</th>
            </thead>
            <tbody id="append_egresos">
                {% for dato in datos %}
					<tr id="int-{{dato.id}}" data-id="{{ dato.id }}" data-url="egresos/crupdate/{{ id }}/{{ dato.id }}">
                        <td 
                            data-list="listas/tipo-egreso" 
                            class="editable list" 
                            data-key="tipo_egreso_list_id"
                            data-value="{{ dato.tipo_egreso_list.texto }}">
                            {{ dato.tipo_egreso_list.texto }}
                        </td>
						<td 
                            class="editable egreso" 
                            data-key="cantidad"
                            data-rawvalue="{{dato.cantidad}}"
                            data-value="{{ dato.cantidad }}">
                            ${{ dato.cantidad }}
                        </td>
						<td 
                            class="editable" 
                            data-key="observacion"
                            data-value="{{ dato.observacion }}">
                            {{ dato.observacion }}
                        </td>
						<td>
                            <a 
                                class="btn waves-effect waves-light red lighten-1 eliminar modal-trigger" 
                                href="#genericModal" 
                                data-id="{{ dato.id }}" 
                                style="color:#fff;">
                                    <i class="fas fa-times"></i>
                            </a>
                            <a 
                                class="btn waves-effect waves-light blue lighten-1 editar" 
                                data-id="{{ dato.id }}" 
                                data-sumar='.egreso' 
                                data-destino='#total_egresos' 
                                style="color:#fff;">
                                    <i class="fas fa-edit"></i>
                            </a>
                        </td>
					</tr>
				{% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br />
<div class="row">
    <div class="col s3">
        <p class="flow-text">Egresos totales: </p>
    </div>
    <div class="col s3">
        <p class="flow-text" id="total_egresos"></p>
    </div>
</div>
<br />
<div class="row">
	<div class="col s2 push-s1">
		<button type="button" data-id="{{ id }}" class="btn waves-effect waves-light light-blue lighten-1" id="prev">
			Anterior <i class="material-icons left">chevron_left</i>
		</button>
	</div>
	<div class="col s3 push-s8">
		<button type="button" data-id="{{ id }}" class="btn waves-effect waves-light green lighten-1 pulse" id="next">
			Siguiente <i class="material-icons right">send</i>
		</button>
	</div>
</div>

<script>
    $(document).ready(function(){
        $('select').formSelect();
        total_ingresos('.egreso', '#total_egresos');

        $("#prev").click(function(ev){
			$("#form-container").hide().load("ingresos/" + this.dataset.id + "/").fadeIn("slow");
		});
		$("#next").click(function(ev){
			$("#form-container").hide().load("vivienda/" + this.dataset.id + "/").fadeIn("slow");
		});
        $("#add_egreso").click(function(ev){
            ev.preventDefault();
            var egreso = {
                tipo_egreso_list_id : $("#tipo_egreso").val(),
                cantidad : $("#cantidad").val(),
                observacion : $("#observacion").val(),
            };
            $.ajax({
                url : 'egresos/crupdate/{{ id }}/0',
                type : 'POST',
                data : JSON.stringify(egreso),
                datatype : "json",
				crossDomain: false,
				contentType: "application/json; charset=utf-8",
				beforeSend: function (jqXHR, settings) {
					jqXHR.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
				},
                success : function(response){
                    response = JSON.parse(response);
                    var parent = $("<tr id='int-" + response.id + "' data-id='" + response.id + "'></tr>");
                    $(parent).append("<td  data-list='listas/tipo-egreso' data-key='tipo_egreso_list_id' class='editable list' data-value='" + $("#tipo_egreso option:selected").text() + "'>" + $("#tipo_egreso option:selected").text() + "</td>")
                        .append("<td class='editable egreso' data-key='cantidad' data-value='" + egreso.cantidad + "' data-rawvalue='" + egreso.cantidad + "'>$" + egreso.cantidad + "</td>")
                        .append("<td class='editable' data-key='observacion' data-value='" + egreso.observacion + "'>" + egreso.observacion + "</td>")
                        .append("<td><a href='#genericModal' data-id='" + response.id + "' class='btn waves-effect waves-light red lighten-1 eliminar modal-trigger' style='color:#fff;''><i class='fas fa-times'></i></a>" + 
                            "<a class='btn waves-effect waves-light blue lighten-1 editar' data-sumar='.egreso' data-destino='#total_egresos' data-id='" + response.id + "' style='color:#fff;''><i class='fas fa-edit'></i></a><td>");
                    $("#append_egresos").append(parent);
                    $("#tipo_egreso").val(0);
                    $("#cantidad").val("");
                    $("#observacion").val("");
                    total_ingresos('.egreso', '#total_egresos');
                }
            });
            total_ingresos('.egreso', '#total_egresos');
        });
    });


    $(document).on('click', '.eliminar', function(ev){
        ev.preventDefault();
        var id = this.dataset.id;
        $("#genericModal .modal-title").html("<i style='color:crimson;' class='fas fa-exclamation-circle'></i> Se eliminará un elemento");
        $("#genericModal .modal-body").html("<strong>¿Está seguro que desea eliminar este elemento?</strong>");
        $("#genericModal .confirmar").html("Eliminar").attr("data-target", id);
        
    });
    $(document).on('click', '.confirmar', function(ev){
        ev.preventDefault();
        var id = this.dataset.target
        $.ajax({
            type : 'POST',
            url : 'egresos/delete/' + id,
            data : {},
            beforeSend: function (jqXHR, settings) {
                jqXHR.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            },
            success: function(response){
                $("#int-" + id).fadeOut('slow', function(){ 
                    $(this).remove(); 
                    total_ingresos('.egreso', '#total_egresos');
                });
                M.toast({
                    html: 'Egreso eliminado con éxito',
                    displayLength: 5000,
                    activationPercent: 1
                });
                total_ingresos('.egreso', '#total_egresos');
            }
        });
        
    });
</script>