{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Estudio SocioEconómico Inteligente</title>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
	<link rel="icon" href="{% static 'favicon.jpg'  %}" />
	<!--<link rel="stylesheet" type="text/css" href="{% static "selectize/css/selectize.css" %}" />-->
	<!--<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">-->
	<script src="https://kit.fontawesome.com/e50f7c9171.js"></script>
	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <!--<script src="{% static "selectize/js/standalone/selectize.js" %}"> </script>-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    

  <!--<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>-->
	
	<style>
		body{
			background-image:url({% static 'images/Degradado2.0_Mesa_de_trabajo_1.svg' %}) !important;
			background-repeat: no-repeat;
			background-size: cover;
			background-position:center center;
			background-attachment: fixed;
			/*background-color: #333;*/
		}
		form{
			margin-top:5%;
			margin-left:3%;
			margin-right:3%;
			background-color: rgba(255,255,255,1.0);
			border-radius: 10px 10px 10px 10px;
			padding-top: 30px;
			padding-bottom: 10px;
			padding-left: 20px;
			padding-right: 20px;
			-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
			-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
			box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
			height: auto;
			vertical-align: middle;
		}
		.site-header{
			background-color: rgba(255, 255, 255, .93);
            height: 50px;
		}
		.site-header a {
			color: rgba(0, 0, 0, 0.9);
    		transition: ease-in-out color .15s;
			text-decoration: none;
			/*margin-top:0px !important;
			padding-top: 30px;*/
			padding-left: 5px;
			padding-right: 5px;
            margin-top: -20px;
		}
		.dropdown-content li > span { 
			color: #333;
		}
		.dropdown-content li > span:hover{
			color:crimson;
		}
        label {
            font-size: 1rem !important;
        }
        .invalid{
            border-bottom: 1px solid crimson;
            box-shadow: 0 1px 0 0 #000;
        }
	</style>
</head>
<body>
    <nav class="site-header sticky-top py-1">
		<div class="container d-flex flex-column flex-md-row justify-content-between">
			<a class="py-2" href="#">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
			</a>
            <a class="waves-effect waves-dark py-2 d-none d-md-inline-block" onclick="" href="/ese/pacientes">Listado de pacientes</a>
		</div>
	</nav>
	<div class="">
		{% block content %}
		{% endblock %}
	</div>
<script type="text/javascript" src="{% static "validation.js" %}"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
    <script>
        function propagate_url(element){
            var href = $(element).attr("href").split("#")[1];
            $("#form-container").hide().load(href + "/" + element.dataset.id + "/").fadeIn("slow");
        }
        $(document).ready(function(){
            $('.modal').modal();
            $.ajaxSetup({async:false});
            $(document).on('click', '.editar', function(ev){
                ev.preventDefault();
                var tr_parent = $(this).parent().parent()[0];
                $.each(tr_parent.children, function(index, element_td){
                    var tipo = "text";
					var uuid = guidGenerator();
					if($(element_td).hasClass("editable"))
					{
						if($(element_td).hasClass('list'))
						{
							var list = $("<select data-key='" + element_td.dataset.key + "' id='" + uuid + "'></select>")[0];
							$(list).append("<option></option>");
							$.get(element_td.dataset.list, function(response){
								$.each(JSON.parse(response).data, function(index,valor){
									$(list).append("<option " + (valor.texto == element_td.dataset.value ? "selected" : "") + 
									" value='" + valor.id + "'>" + valor.texto + "</option>");
								});
							});
						}
                        if($(element_td).hasClass('check'))
                            tipo = "checkbox";

                        /*var che_el = $("<input type='checkbox' />");
                        $(che_el).prop('checked', element_td.dataset.value);
                        }*/

						$(element_td).html("")
						.html($(element_td).hasClass("list") ? list : "<input id='" + uuid + "' data-key='" + element_td.dataset.key + "' type='" + tipo +"' value='" + element_td.dataset.value + "' />");
						if($(element_td).hasClass('list'))
							$('.list select').formSelect();
                        if($(element_td).hasClass('check'))
                        {
                            let label_parent = $("<label for='" + uuid + "'></label>");
                            let span_bro = $("<span>¿Totalmente pagado?</span>");
                            $("#" + uuid).prop('checked', (element_td.dataset.value == "True" ? true : false));
                            $(label_parent).append($("#" + uuid)).append(span_bro);
                            $(element_td).html("").html(label_parent);
                        }
					}
					else
					{
						var btn_editar = $(element_td).find('.editar')[0];
						$(btn_editar).addClass("listo")
							.removeClass("editar")
							.html("<i class='fas fa-check'></i>")
							.removeClass("blue")
							.addClass("green");
					}
				});
			});


			$(document).on('click', '.listo', function(ev){
				ev.preventDefault();
				var tr_parent = $(this).parent().parent()[0];
				var prepared_object = new Object();
				$.each(tr_parent.children, function(index, element_td){
					if($(element_td).hasClass('editable')){
						var elemento = $(element_td).hasClass('list') ? $(element_td).find("select")[0] : $(element_td).find("input")[0];
						prepared_object[elemento.dataset.key] = $(element_td).hasClass('check') ? $(elemento).prop('checked') : $(elemento).val();
					}
				});
				$.ajax({
					url : tr_parent.dataset.url,
					type : 'POST',
					data : JSON.stringify(prepared_object),
					datatype : "json",
					crossDomain: false,
					contentType: "application/json; charset=utf-8",
					beforeSend: function (jqXHR, settings) {
						jqXHR.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
					},
					success : function(response){
						M.toast({
							html: 'Actualizado con éxito',
							displayLength: 5000,
							activationPercent: 1
						});
						$.each(tr_parent.children, function(index,element_td){
							if($(element_td).hasClass('editable')){
								var valor = $(element_td).val();
								var texto = $(element_td).find("select").length != 0 ? $(element_td).find("select")[0] : $(element_td).find("input")[0];
								texto = $(texto).is('select') ? $("#" + $(texto).attr('id') + " option:selected").text() : $(texto).val();
								element_td.dataset.value = texto;
                                if($(element_td).hasClass('check')){
                                    let ch = $(element_td).find("input")[0];
                                    texto = ($(ch).prop('checked') ? "Sí" : "No");
                                    element_td.dataset.value = $(ch).prop('checked');
                                }
								$(element_td).html(texto);
							}
							else{
								var btn_editar = $(element_td).find('.listo')[0];
								$(btn_editar).addClass("editar")
									.removeClass("listo")
									.html("<i class='fas fa-edit'></i>")
									.removeClass("green")
									.addClass("blue");
							}
						});
					}
				});
			})
		});

		function guidGenerator() {
			var S4 = function() {
			return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
			};
			return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
		}

		function preparar_array(classe)
		{
			var array_class = [];
			$.each($(classe), function(index, value){
				array_class.push({
					id : value.dataset.id,
					value : $(value).val().trim().length == 0 ? 0 : $(value).val()
				});
			});
			return array_class;
		}
	</script>

	

	<!-- Modal Structure -->
	<div id="genericModal" class="modal bottom-sheet">
	<div class="modal-content">
		<h4 class="modal-title"></h4>
		<p class="modal-body">
			
		</p>
	</div>
	<div class="modal-footer">
		<a class="btn modal-close waves-effect waves-light cyan lighten-1">Cancelar</a>
		<a class="btn modal-close waves-effect waves-light red lighten-1 confirmar"></a>
	</div>
	</div>
</body>
</html>