{% extends "ese/header.html" %}
{% load static %}

{% block content %}
<style>
    .nav-wrapper{
        padding-left: 5%;
    }
    .breadcrumb{
        margin-top: -5px !important;
    }
</style>
<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="waves-effect waves-dark py-2 d-none d-md-inline-block" data-id="{{ ese }}" onclick="propagate_url(this);" href="#datos-generales">Datos Generales</a>
        <a class="waves-effect waves-dark py-2 d-none d-md-inline-block" data-id="{{ ese }}" onclick="propagate_url(this);" href="#domicilio">Domicilio</a>
        <a class="waves-effect waves-dark py-2 d-none d-md-inline-block" data-id="{{ ese }}" onclick="propagate_url(this);" href="#integrantes">Integrantes</a>
        <a class="waves-effect waves-dark py-2 d-none d-md-inline-block" data-id="{{ ese }}" onclick="propagate_url(this);" href="#ingresos">Ingresos</a>
        <a class="waves-effect waves-dark py-2 d-none d-md-inline-block" data-id="{{ ese }}" onclick="propagate_url(this);" href="#egresos"> Egresos</a>
        <a class="waves-effect waves-dark py-2 d-none d-md-inline-block" data-id="{{ ese }}" onclick="propagate_url(this);" href="#vivienda">Vivienda</a>
        <a class="waves-effect waves-dark py-2 d-none d-md-inline-block" data-id="{{ ese }}" onclick="propagate_url(this);" href="#alimentacion">Alimentación</a>
        <a class="waves-effect waves-dark py-2 d-none d-md-inline-block" data-id="{{ ese }}" onclick="propagate_url(this);" href="#servicios-salud">Serv. Salud</a>
        <a class="waves-effect waves-dark py-2 d-none d-md-inline-block" data-id="{{ ese }}" onclick="propagate_url(this);" href="#vehiculos">Vehículos</a>
        <a class="waves-effect waves-dark py-2 d-none d-md-inline-block" data-id="{{ ese }}" onclick="propagate_url(this);" href="#observaciones">Observaciones</a>
    </div>
</nav>
<br />
<div class="">
    <div class="container">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="/ese/pacientes" class="breadcrumb">Pacientes</a>
                    <a href="/ese/pacientes/{{ paciente.id }}" class="breadcrumb" style="">
                        {{ paciente.apellido_paterno }} {{ paciente.apellido_materno }} {{ paciente.nombre }}
                    </a>
                    <a href="#!" class="breadcrumb">Estudio socioeconomico #{{ese}}</a>
                </div>
            </div>
        </nav>
    </div>
    <form autocomplete="off" novalidate id="form-container">
        
    </form>
</div>
<br/>

<input type="hidden" />
<script>
	$(document).ready(function(){
		var url = window.location.href;
		var id = url.substring(url.lastIndexOf('#') + 1);
		if(url.lastIndexOf('#') == -1){
			window.location.href = location.protocol + "//" + location.host + location.pathname + "?paciente={{ paciente.id }}&ese={{ese}}#datos-generales";
            return false;
        }
		$("#form-container").hide().load(location.protocol + "//" + location.host + location.pathname + id + "/{{ ese }}/?paciente={{ paciente.id }}").fadeIn("slow");
	});
    function propagate_url(element){
        var href = $(element).attr("href").split("#")[1];
        $("#form-container").hide().load(href + "/" + element.dataset.id + "/?paciente={{ paciente.id }}").fadeIn("slow");
    }
	function validar(elemento){
		if($(elemento).val().trim().length == 0)
			return 0;
	}
</script>
{% endblock %}