<center><h4> Ingresos Familiares</h4></center>
<br/>
<div class="row">
    <div class="input-field col s2">
        <select id="tipo_ingreso">
            <option></option>
            {% for tipo in tipos %}
                <option value="{{ tipo.id }}">{{ tipo.texto }}</option>
            {% endfor %}
        </select>
        <label for="tipo_ingreso">Tipo de ingreso</label>
    </div>
    <div class="input-field col s3">
        <input type="text" id="nombre"/>
        <label for="nombre">Nombre</label>
    </div>
    <div class="input-field col s1">
        <input type="text" id="edad"/>
        <label for="edad">Edad</label>
    </div>
    <div class="input-field col s1">
        <select id="parentesco">
            <option></option>
            {% for parentesco in parentescos %}
                <option value="{{ parentesco.id }}">{{ parentesco.texto }}</option>
            {% endfor %}
        </select>
        <label for="parentesco">Parentesco</label>
    </div>
    <div class="input-field col s2">
        <i class="material-icons prefix">monetization_on</i>
        <input type="number" min="0" id="ingreso"/>
        <label for="ingreso">Ingresos</label>
    </div>
    <div class="input-field col s2">
        <select id="ocupacion">
            <option></option>
            {% for ocupacion in ocupaciones %}
                <option value="{{ ocupacion.id }}">{{ ocupacion.texto }}</option>
            {% endfor %}
        </select>
        <label for="ocupacion">Ocupación</label>
    </div>
    <div class="col s1">	
  		<a id="add_ingreso" class="btn waves-effect waves-light green lighten-1"><i class="material-icons">save</i></a>
		<!--<button style="margin-top: 37%" id="add_dependiente" class="btn btn-primary btn-block">Agregar</button>-->
	</div>
</div>
<br />
<div class="row">
    <div class="col s12">
        <table class="stripped highlight">
            <thead>
                <th style="width:200px;">Tipo</th>
                <th style="width:400px;">Nombre</th>
                <th style="width:100px;">Edad</th>
                <th style="width:200px;">Parentesco</th>
                <th style="width:150px;">Ingreso</th>
                <th>Ocupación</th>
                <th style="width:150px;">Acciones</th>
            </thead>
            <tbody id="append_ingresos">
                {% for dato in datos %}
					<tr id="int-{{dato.id}}" data-id="{{ dato.id }}" data-url="ingresos/crupdate/{{ id }}/{{ dato.id }}">
                        <td 
                            data-list="listas/tipo-ingreso" 
                            data-value="{{ dato.ingresos_tipo_list.texto }}" 
                            data-key="ingresos_tipo_list_id"
                            class="editable list">
                            {{ dato.ingresos_tipo_list.texto }}
                        </td>
						<td 
                            data-value="{{ dato.nombre }}" 
                            data-key="nombre"
                            class="editable">
                            {{ dato.nombre }}
                        </td>
						<td 
                            data-value="{{ dato.edad }}" 
                            data-key="edad"
                            class="editable">
                            {{ dato.edad }}
                        </td>
                        <td 
                            data-list="listas/parentesco" 
                            data-value="{{ dato.parentesco_list.texto }}" 
                            data-key="parentesco_list_id"
                            class="editable list">
                            {{ dato.parentesco_list.texto }}
                        </td>
                        <td 
                            data-value="{{ dato.ingreso }}" 
                            data-key="ingreso"
                            data-rawvalue="{{dato.ingreso}}"
                            class="editable ingreso">
                            ${{ dato.ingreso }}
                        </td>
						<td 
                            data-list="listas/ocupacion" 
                            data-value="{{ dato.ocupaciones_list.texto }}" 
                            data-key="ocupaciones_list_id"
                            class="editable list">
                            {{ dato.ocupaciones_list.texto }}
                        </td>
						<td>
                            <a 
                                class="btn waves-effect waves-light red lighten-1 eliminar modal-trigger" 
                                href="#genericModal" 
                                data-id="{{ dato.id }}" 
                                style="color:#fff;">
                                    <i class="fas fa-times"></i>
                            </a>
                            <a 
                                class="btn waves-effect waves-light blue lighten-1 editar" 
                                data-sumar='.ingreso' 
                                data-destino='#total_ingresos' 
                                data-id="{{ dato.id }}" 
                                style="color:#fff;">
                                    <i class="fas fa-edit"></i>
                            </a>
                        </td>
					</tr>
				{% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br />
<div class="row">
    <div class="col s3">
        <p class="flow-text">Ingresos totales: </p>
    </div>
    <div class="col s3">
        <p class="flow-text" id="total_ingresos"></p>
    </div>
</div>
<br />
<div class="row">
	<div class="col s2 push-s1">
		<button type="button" data-id="{{ id }}" class="btn waves-effect waves-light light-blue lighten-1" id="prev">
			Anterior <i class="material-icons left">chevron_left</i>
		</button>
	</div>
	<div class="col s3 push-s8">
		<button type="button" data-id="{{ id }}" class="btn waves-effect waves-light green lighten-1 pulse" id="next">
			Siguiente <i class="material-icons right">send</i>
		</button>
	</div>
</div>

<script>
    $(document).ready(function(){
        $('select').formSelect();
        total_ingresos('.ingreso', '#total_ingresos');

        $("#prev").click(function(ev){
			$("#form-container").hide().load("integrantes/" + this.dataset.id + "/").fadeIn("slow");
		});
		$("#next").click(function(ev){
			$("#form-container").hide().load("egresos/" + this.dataset.id + "/").fadeIn("slow");
		});
        $("#add_ingreso").click(function(ev){
            ev.preventDefault();
            var ingreso = {
                nombre : $("#nombre").val(),
                edad : $("#edad").val(),
                ingresos_tipo_list_id : $("#tipo_ingreso").val(),
                parentesco_list_id : $("#parentesco").val(),
                ingreso : $("#ingreso").val(),
                ocupaciones_list_id : $("#ocupacion").val()
            };
            $.ajax({
                url : 'ingresos/crupdate/{{ id }}/0',
                type : 'POST',
                data : JSON.stringify(ingreso),
                datatype : "json",
				crossDomain: false,
				contentType: "application/json; charset=utf-8",
				beforeSend: function (jqXHR, settings) {
					jqXHR.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
				},
                success : function(response){
                    response = JSON.parse(response);
                    var parent = $("<tr id='int-" + response.id + "' data-id='" + response.id + "' data-url='ingresos/crupdate/{{ id }}/" + response.id + "'></tr>");
                    $(parent).append("<td data-list='listas/tipo-ingreso' class='editable list' data-key='ingresos_tipo_list_id' data-value='" + $("#tipo_ingreso option:selected").text() + "'>" + $("#tipo_ingreso option:selected").text() + "</td>")
                        .append("<td data-key='nombre' class='editable' data-value='" + ingreso.nombre + "'>" + ingreso.nombre + "</td>")
                        .append("<td data-key='edad' class='editable' data-value='" + ingreso.edad + "'>" + ingreso.edad + "</td>")
                        .append("<td data-list='listas/parentesco' data-key='parentesco_list_id' class='editable list' data-value='" +$("#parentesco option:selected").text() + "'>" + $("#parentesco option:selected").text() + "</td>")
                        .append("<td data-key='ingreso' class='editable ingreso' data-value='" + ingreso.ingreso + "' data-rawvalue='" + ingreso.ingreso + "'>$" + ingreso.ingreso + "</td>")
                        .append("<td data-list='listas/ocupacion' data-key='ocupaciones_list_id' class='editable list' data-value='" + $("#ocupacion option:selected").text() + "'>" + $("#ocupacion option:selected").text() + "</td>")
                        .append("<td><a href='#genericModal' data-id='" + response.id + "' class='btn waves-effect waves-light red lighten-1 eliminar modal-trigger' style='color:#fff;''><i class='fas fa-times'></i></a>" +
                        "<a class='btn waves-effect waves-light blue lighten-1 editar' data-sumar='.ingreso' data-destino='#total_ingresos' data-id='" + response.id + "' style='color:#fff;''><i class='fas fa-edit'></i></a><td>");
                    $("#append_ingresos").append(parent);

                    $("#nombre").val("");
                    $("#edad").val("");
                    $("#tipo_ingreso").val("");
                    $("#parentesco").val("");
                    $("#ingreso").val("");
                    $("#ocupacion").val("");
                    total_ingresos('.ingreso', '#total_ingresos');
                }
            });
        });
    });


    $(document).on('click', '.eliminar', function(ev){
        ev.preventDefault();
        var id = this.dataset.id;
        $("#genericModal .modal-title").html("<i style='color:crimson;' class='fas fa-exclamation-circle'></i> Se eliminará un elemento");
        $("#genericModal .modal-body").html("<strong>¿Está seguro que desea eliminar este elemento?</strong>");
        $("#genericModal .confirmar").html("Eliminar").attr("data-target", id);
        
    });
    $(document).on('click', '.confirmar', function(ev){
        ev.preventDefault();
        var id = this.dataset.target
        $.ajax({
            type : 'POST',
            url : 'ingresos/delete/' + id,
            data : {},
            beforeSend: function (jqXHR, settings) {
                jqXHR.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            },
            success: function(response){
                $("#int-" + id).fadeOut('slow', function(){
                    $(this).remove();
                    total_ingresos('.ingreso', '#total_ingresos');    
                });
                M.toast({
                    html: 'Ingreso eliminado con éxito',
                    displayLength: 5000,
                    activationPercent: 1
                });
                total_ingresos('.ingreso', '#total_ingresos');
            }
        });
    });
    
    
</script>