<center><h4> Personas que integran el hogar </h4></center>
<br/>
<div class="row">
	<div class="input-field col s3">
		<label for="nombre_dep">Nombre</label>
		<input type="text" class="form-control" id="nombre_dep"/>
	</div>
	<div class="input-field col s1">
		<label for="edad_dep">Edad</label>
		<input type="text" class="" id="edad_dep" min="1" max="110" />
	</div>
	<div class="input-field col s1">
		<select id="dep_economico">
			<option></option>
			{% for dependiente in dependientes %}
				<option  value="{{ dependiente.id }}">{{ dependiente.texto }}</option>
			{% endfor %}
		</select>
		<label  for="dep_economico">Dep. Eco.</label>
	</div>
	<div class="input-field col s2">
		<select id="parentezco">
			<option></option>
			{% for parentesco in parentescos %}
				<option title="{{ parentesco.texto }}"  value="{{ parentesco.id }}">{{ parentesco.texto }}</option>
			{% endfor %}
		</select>
		<label for="parentezco">Parentesco</label>
	</div>
	<div class="input-field col s1">
		<select id="inst_academica">
			<option></option>
			{% for institucion in instituciones %}
				<option  value="{{ institucion.id }}">{{ institucion.texto }}</option>
			{% endfor %}
		</select>
		<label for="inst_academica">Inst. Acad.</label>
	</div>
	<div class="input-field col s3">
		<select id="ocupacion_fam" class="">
			<option></option>
			{% for ocupacion in ocupaciones %}
				<option title="{{ ocupacion.observacion }}"  value="{{ ocupacion.id }}">{{ ocupacion.texto }}</option>
			{% endfor %}
		</select>
		<label for="ocupacion_fam">Ocupación</label>
	</div>
    <div class="input-field col s3">
		<input type="text" id="trabajo" class="">
		<label for="trabajo">Especificar</label>
	</div>
	<div class="input-field col s2">
		<select id="discapacidad" class="">
			<option></option>
			{% for discapacidad in discapacidades %}
				<option title="{{ discapacidad.observacion }}"  value="{{ discapacidad.id }}">{{ discapacidad.texto }}</option>
			{% endfor %}
		</select>
		<label for="discapacidad">Discapacidad</label>
	</div>
	<div class="col s1">	
  		<a id="add_dependiente" class="btn waves-effect waves-light green lighten-1"><i class="material-icons">save</i></a>
		<!--<button style="margin-top: 37%" id="add_dependiente" class="btn btn-primary btn-block">Agregar</button>-->
	</div>
</div>
<br>
<div class="row">
	<div class="col s12">
		<table class="striped highlight">
			<thead>
				<th style="width:400px;">Nombre</th>
				<th style="width:70px;">Edad</th>
				<th style="width:70px;">Dep. Eco.</th>
				<th style="width:100px;">Parentesco</th>
				<th style="width:100px;">Inst. Acad.</th>
				<th style="width: 200px;">Ocupación</th>
                <th>Especificar</th>
				<th>Discapacidad</th>
				<th style="width:150px;">Acciones</th>
			</thead>
			<tbody id="append_dependientes">
				{% for dato in datos %}
					<tr id="int-{{dato.id}}" data-url="integrantes/crupdate/{{ id }}/{{ dato.id }}">
						<td
							data-value="{{ dato.nombre }}" 
                            data-key="nombre"
                            class="editable">
							{{ dato.nombre }}
						</td>
						<td 
							data-value="{{ dato.edad }}" 
                            data-key="edad"
                            class="editable">
							{{ dato.edad }}
						</td>
						<td
							data-value="{{ dato.dependiente_list.texto }}" 
                            data-key="dependiente_list_id"
							data-list="listas/dependiente"
                            class="editable list">
							{{ dato.dependiente_list.texto }}
						</td>
						<td
							data-value="{{ dato.parentesco_list.texto }}" 
                            data-key="parentesco_list_id"
							data-list="listas/parentesco"
                            class="editable list">
							{{ dato.parentesco_list.texto }}
						</td>
						<td
							data-value="{{ dato.institucion_academica_list.texto }}" 
                            data-key="institucion_academica_list_id"
							data-list="listas/institucion"
                            class="editable list">
							{{ dato.institucion_academica_list.texto }}
						</td>
						<td
							data-value="{{ dato.ocupaciones_list.texto }}" 
                            data-key="ocupaciones_list_id"
							data-list="listas/ocupacion"
                            class="editable list">
							{{ dato.ocupaciones_list.texto }}
						</td>
                        <td 
							data-value="{{ dato.trabajo }}" 
                            data-key="trabajo"
                            class="editable">
							{{ dato.trabajo }}
						</td>
						<td
							data-value="{{ dato.discapacidad_list.texto }}" 
                            data-key="discapacidad_list_id"
							data-list="listas/discapacidad"
                            class="editable list">
							{{ dato.discapacidad_list.texto }}
						</td>
						<td><a class="btn waves-effect waves-light red lighten-1 eliminar modal-trigger" href="#genericModal" data-id="{{ dato.id }}" style="color:#fff;"><i class="fas fa-times"></i></a>
						<a class="btn waves-effect waves-light blue lighten-1 editar" data-id="{{ dato.id }}" style="color:#fff;"><i class="fas fa-edit"></i></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col s2 push-s1">
		<button type="button" data-id="{{ id }}" class="btn waves-effect waves-light light-blue lighten-1" id="prev">
			Anterior <i class="material-icons left">chevron_left</i>
		</button>
	</div>
	<div class="col s3 push-s8">
		<button type="button" data-id="{{ id }}" class="btn waves-effect waves-light green lighten-1 pulse" id="next">
			Siguiente <i class="material-icons right">send</i>
		</button>
	</div>
</div>


<script>
	$(document).ready(function(){
		var id = "{{ id }}";
		$("#prev").click(function(ev){
			$("#form-container").hide().load("domicilio/" + this.dataset.id + "/").fadeIn("slow");
		});
		$("#next").click(function(ev){
			$("#form-container").hide().load("ingresos/" + this.dataset.id + "/").fadeIn("slow");
		});
		$('select').formSelect();
		$('.datepicker').datepicker();
		$("#add_dependiente").click(function(ev){
			ev.preventDefault();
			var dependiente = {
				nombre : $("#nombre_dep").val(),
				edad : $("#edad_dep").val(),
				dependiente_list_id : $("#dep_economico").val(),
				institucion_academica_list_id : $("#inst_academica").val(),
				parentesco_list_id :  $("#parentezco").val(),
				ocupaciones_list_id : $("#ocupacion_fam").val(),
				discapacidad_list_id : $("#discapacidad").val(),
                trabajo : $("#trabajo").val()
			};
			$.ajax({
				type: 'POST',
				url : 'integrantes/crupdate/{{ id }}/0',
				datatype : "json",
				crossDomain: false,
				contentType: "application/json; charset=utf-8",
				beforeSend: function (jqXHR, settings) {
					jqXHR.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
				},
				data : JSON.stringify(dependiente),
				success: function(response){
					response = JSON.parse(response);
					var tr_parent = $("<tr id='int-" + response.id + "' data-url='integrantes/crupdate/{{ id }}/" + response.id + "'></tr>");
					$(tr_parent)
						.append("<td data-key='nombre' class='editable' data-value='" + dependiente.nombre + "'>" + dependiente.nombre + "</td>")
						.append("<td data-key='edad' class='editable' data-value='" + dependiente.edad + "'>" + dependiente.edad + "</td>")
						.append("<td data-list='listas/dependiente' data-key='dependiente_list_id' class='editable list' data-value='" + $("#dep_economico option:selected").text() + "'>" + $("#dep_economico option:selected").text() + "</td>")
						.append("<td data-list='listas/parentesco' data-key='parentesco_list_id' class='editable list' data-value='" + $("#parentezco option:selected").text()+ "'>" + $("#parentezco option:selected").text() + "</td>")
						.append("<td data-list='listas/institucion' data-key='institucion_academica_list_id' class='editable list' data-value='" + $("#inst_academica option:selected").text() + "'>" + $("#inst_academica option:selected").text() + "</td>")
						.append("<td data-list='listas/ocupacion' data-key='ocupaciones_list_id' class='editable list' data-value='" + $("#ocupacion_fam option:selected").text() + "'>" + $("#ocupacion_fam option:selected").text() + "</td>")
                        .append("<td data-key='trabajo' class='editable' data-value='" + dependiente.trabajo + "'>" + dependiente.trabajo + "</td>")
						.append("<td data-list='listas/discapacidad' data-key='discapacidad_list_id' class='editable list' data-value='" + $("#discapacidad option:selected").text() + "'>" + $("#discapacidad option:selected").text() + "</td>")
						.append("<td><a href='#genericModal' data-id='" + response.id + "' class='btn waves-effect waves-light red lighten-1 eliminar modal-trigger' href='#genericModal' data-id='" + response.id + "' style='color:#fff;''><i class='fas fa-times'></i></a>" +  
						"<a class='btn waves-effect waves-light blue lighten-1 editar' data-id='" + response.id + "' style='color:#fff;''><i class='fas fa-edit'></i></a><td>");
					$("#append_dependientes").append(tr_parent);
				}
			});
		});
	});


	$(document).on('click', '.eliminar', function(ev){
		ev.preventDefault();
		var id = this.dataset.id;
		$("#genericModal .modal-title").html("<i style='color:crimson;' class='fas fa-exclamation-circle'></i> Se eliminará un elemento");
		$("#genericModal .modal-body").html("<strong>¿Está seguro que desea eliminar este elemento?</strong>");
		$("#genericModal .confirmar").html("Eliminar").attr("data-target", id);
		
	});
	$(document).on('click', '.confirmar', function(ev){
		ev.preventDefault();
		var id = this.dataset.target
		$.ajax({
			type : 'POST',
			url : 'integrantes/delete/' + id,
			data : {},
			beforeSend: function (jqXHR, settings) {
				jqXHR.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
			},
			success: function(response){
				$("#int-" + id).fadeOut('slow');
				M.toast({
					html: 'Integrante eliminado con éxito',
					displayLength: 5000,
					activationPercent: 1
				});
			}
		});
	});
</script>