<center><h4> Observaciones </h4></center>
<div class="row">
    <div class="input-field col s4">
        <textarea id="observaciones" maxlength="700" data-length="700" rows="7" class="materialize-textarea">{{ ese.observaciones|default_if_none:"" }}</textarea>
        <label for="observaciones" class="active">Observaciones</label>
    </div>
    <div class="input-field col s4">
        <textarea id="diagnostico" maxlength="700" data-length="700" rows="7" class="materialize-textarea">{{ ese.diagnostico|default_if_none:"" }}</textarea>
        <label for="diagnostico" class="active">Diagnostico</label>
    </div>
    <div class="input-field col s2">
        <select id="clasificacion_ts">
            <option></option>
            {% for clasificacion in clasificaciones %}
                <option {% if ese.clasificacion_ts == clasificacion.id %} selected {% endif %} value="{{ clasificacion.id }}">{{ clasificacion.texto }}</option>
            {% endfor %}
        </select>
        <label for="clasificacion_ts">Clasificación T.S.</label>
    </div>
    <div class="input-field col s2">
        <div class="switch">
            <label class="active" for="falsea_datos">Falsea datos</label>
            <br />
            <label>
                No
                <input id="falsea_datos" type="checkbox" {% if ese.falsea_datos %} checked {% endif %}>
                <span class="lever"></span>
                Sí
            </label>
        </div>
    </div>
</div>
<div class="row">
	<div class="col s2 push-s1">
		<button type="button" data-id="{{ ese.id }}" class="btn waves-effect waves-light light-blue lighten-1" id="prev">
			Anterior <i class="material-icons left">chevron_left</i>
		</button>
	</div>
	<div class="col s3 push-s8">
		<button type="button" data-id="{{ ese.id }}" class="btn waves-effect waves-light green lighten-1 " id="next">
			Finalizar <i class="material-icons right">send</i>
		</button>
	</div>
</div>

<script>
    $(document).ready(function(){
        $("select").formSelect();
        M.textareaAutoResize($('#observaciones'));
        M.textareaAutoResize($('#diagnostico'));
        $('textarea').characterCounter();
        $("#prev").click(function(ev){
			$("#form-container").hide().load("vehiculos/" + this.dataset.id + "/").fadeIn("slow");
		});
		$("#next").click(function(ev){
            var observaciones = {
                observaciones : $("#observaciones").val().trim(),
                diagnostico : $("#diagnostico").val().trim(),
                clasificacion_ts : $("#clasificacion_ts").val(),
                falsea_datos : $("#falsea_datos").prop('checked')
            };
            $.ajax({
                type: 'POST',
                url: 'observaciones/crupdate/{{ ese.id }}/',
                datatype : "json",
                crossDomain: false,
                contentType: "application/json; charset=utf-8",
                beforeSend: function (jqXHR, settings) {
                    jqXHR.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                },
                data : JSON.stringify(observaciones),
                success : function(response){
                    M.toast({
                        html: 'Sección final actualizada con éxito',
                        displayLength: 5000,
                        activationPercent: 1
                    });
                    window.location.href = '/ese/pacientes/{{ ese.paciente_id }}';
                }
            });
		});
    });
</script>