{% extends "ese/header_principal.html" %}
{% load static %}


{% block content %}
<style>
    .foto{
        height: 200px;
        overflow: hidden;
    }
    .foto img{
        height: 200px;
    }
    .informacion{
        /*margin-left:150px !important;*/
    }
</style>

 <form novalidate id="form-container">
    <div class="container row">
        <div class="foto col s3">
            <img src="http://192.168.1.99:81/Fotos/{{ paciente.id }}.jpg"/>
        </div>
        <div class="informacion col s9">
            <h5>{{ paciente.apellido_paterno|default_if_none:"" }} {{ paciente.apellido_materno|default_if_none:"" }} {{ paciente.nombre|default_if_none:"" }} - {{ paciente.clave }}</h5>
        </div>
    </div>
    <div class="row">
        <h6><center>Lista de Estudios Socioeconómicos ({{ estudios|length }})</center></h6>
        <button type="button" role="button"  class="btn float-right inciar_estudio"><i class="fa fa-plus"></i> Nuevo Estudio</button>
        <table class="table">
            <thead>
                <th style="width: 150px;">Clasificación T.S</th>
                <th style="width: 150px;">Clasificación I.A</th>
                <th style="width: 200px;">Fecha</th>
                <th>Calle</th>
                <th>Colonia</th>
                <th>Localidad</th>
                <th style="width: 70px;">C.P</th>
                <th>Falsea Datos</th>
                <th style="width: 150px;">Acciones</th>
            </thead>
            </tbody>
                {% for estudio in estudios %}
                    <tr class="striped centered {% if estudio.falsea_datos %} red lighten-4 {% endif %}">
                        <td>
                            {% for clasificacion in clasificaciones %}
                                {% if clasificacion.id == estudio.clasificacion_ts %}
                                    {{ clasificacion.texto }}
                                {% endif %}
                            {% endfor %}
                        </td>
                         <td>
                            {% for clasificacion in clasificaciones %}
                                {% if clasificacion.id == estudio.clasificacion_ia %}
                                    {{ clasificacion.texto }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ estudio.fecha }}</td>
                        <td>{{ estudio.calle }}</td>
                        <td>{{ estudio.colonia }}</td>
                        <td>{{ estudio.localidad }}</td>
                        <td>{{ estudio.codigo_postal }}</td>
                        <td><center>{% if estudio.falsea_datos %} Sí {% else %} No {% endif %}</center></td>
                        <td>
                            <a href="/ese/?ese={{ estudio.id }}&paciente={{ paciente.id }}" class="btn waves-effect waves-light blue lighten-1" data-id="{{ estudio.id }}" style="color:#fff;">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>


<script>
    $(document).on('click', '.inciar_estudio', function(ev){
        $.ajax({
            type: 'POST', 
            url: '/ese/iniciar/{{ paciente.id }}',
             data : {},
            beforeSend: function (jqXHR, settings) {
                jqXHR.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            },
            success: function(response){
                response = JSON.parse(response);
                window.location.href = "/ese/?ese=" + response.id + "&paciente={{ paciente.id }}"
            }
        })
    });
</script>
{% endblock %}