{% extends "ese/header_principal.html" %}
{% load static %}

{% block content %}
<style>
    .paciente{
        padding-left: 10px;
        padding-right: 10px;
        height: 270px;
        display: block;
        margin-bottom: 1%;
    }
    .paciente .nombre{
        bottom:0px;
        width:100%;
        font-size: 13px;
        text-align: center;
        background-color: #333;
        height:30px;
        padding-top:5px;
        color: #fff;
        margin-top:1%;
    }
    .paciente .foto img{
       /* height:100px !important;*/
       width: 100%;
    }
    .paciente .foto{
        height: 212px !important;
       overflow-y: hidden;
    }
    a{
        text-decoration: none;
    }
</style>
<form novalidate id="search_form">
    <div class="row">
        <div class="input-field col s3">
            <input type="text" id="apellido_paterno" name="apellido_paterno" value="{{ search_params.apellido_paterno|default_if_none:"" }}">
            <label for="apellido_paterno">Apellido Paterno</label>
        </div>
        <div class="input-field col s3">
            <input type="text" id="apellido_materno" name="apellido_materno" value="{{ search_params.apellido_materno|default_if_none:"" }}">
            <label for="apellido_materno">Apellido Materno</label>
        </div>
        <div class="input-field col s3">
            <input type="text" id="nombre" name="nombre" value="{{ search_params.nombre|default_if_none:"" }}">
            <label for="nombre">Nombre(s)</label>
        </div>
         <div class="input-field col s1">
            <input type="text" id="clave" name="clave">
            <label for="clave">Clave</label>
        </div>
        <input type="hidden" id="page" name="page" value="{{ pacientes.number }}">
        <button type="submit" class="waves-effect waves-light btn green lighten-1" id="search">Buscar <i class="material-icons right">search</i></button>
    </div>
    <div class="container row">
        {% for paciente in pacientes %}
        <a href="/ese/pacientes/{{ paciente.id }}" data-id="{{ paciente.id }}">
            <div class="paciente col s3">
                <div class="foto">
                    <img src="http://192.168.1.99:81/Fotos/{{ paciente.id }}.jpg"/>
                </div>
                <div class="nombre">
                    {{ paciente.apellido_paterno|default_if_none:"" }} {{ paciente.apellido_materno|default_if_none:"" }} {{ paciente.nombre|default_if_none:"" }}<br />
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <center>
    <div class="pagination">
        <span class="step-links">
            {% if pacientes.has_previous %}
                <a class="pag_btn btn" data-page="1" href="#"><i class="large material-icons">first_page</i></a>
                <a class="pag_btn btn" data-page="{{ pacientes.previous_page_number }}" href="#"><i class="large material-icons">chevron_left</i></a>
            {% endif %}
            <span class="current">
                Página {{ pacientes.number }} de {{ pacientes.paginator.num_pages }}.
            </span>
            {% if pacientes.has_next %}
                <a class="pag_btn btn" data-page="{{ pacientes.next_page_number }}" href=""><i class="large material-icons">chevron_right</i></a>
                <a class="pag_btn btn" data-page="{{ pacientes.paginator.num_pages }}" href=""><i class="large material-icons">last_page</i></a>
            {% endif %}
        </span>
    </div>
    </center>
</form>

<script>
    $(document).on('click', '.inciar_estudio', function(ev){
        $.ajax({
            type: 'POST', 
            url: '/ese/iniciar/' + this.dataset.id,
             data : {},
            beforeSend: function (jqXHR, settings) {
                jqXHR.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            },
            success: function(response){

            }
        })
    });
    $('#search').click(function(ev){
        ev.preventDefault();
        $('#page').val(1);
        $("#search_form").submit();
    });
    $(document).on('click', '.pag_btn', function(ev){
        ev.preventDefault();
        $('#page').val(this.dataset.page);
        $("#search_form").submit();
    });
</script>
{% endblock %}