<center><h4> Servicios de salud </h4></center>

<div class="row">
    <div class="input-field col s4">
        <select id="servicio">
            <option></option>
            {% for servicio in lista_servicio_salud %}
                <option value="{{ servicio.id }}" {% if ese.servicio_salud_list_id == servicio.id %} selected {% endif %}>{{ servicio.texto }}</option>
            {% endfor %}
        </select>
        <label>Tipo de servicio de salud</label>
    </div>
    <div class="input-field col s4">
        <select id="beneficiario">
            <option></option>
            {% for beneficiario in lista_beneficiario %}
                <option value="{{ beneficiario.id }}" {% if ese.beneficiario_list_id == beneficiario.id %} selected {% endif %}>{{ beneficiario.texto }}</option>
            {% endfor %}
        </select>
        <label>¿Por parte de quién lo recibe?</label>
    </div>
    <div class="input-field col s4">
        <select id="enfermedad">
            <option></option>
            {% for enfermedad in lista_enfermedad %}
                <option value="{{ enfermedad.id }}" {% if ese.enfermedades_list_id == enfermedad.id %} selected {% endif %}>{{ enfermedad.texto }}</option>
            {% endfor %}
        </select>
        <label>Seleccione una enfermedad si la padece</label>
    </div>
</div>
<div class="row">
	<div class="col s2 push-s1">
		<button type="button" data-id="{{ datos.ese.id }}" class="btn waves-effect waves-light light-blue lighten-1" id="prev">
			Anterior <i class="material-icons left">chevron_left</i>
		</button>
	</div>
	<div class="col s3 push-s8">
		<button type="button" data-id="{{ datos.ese.id }}" class="btn waves-effect waves-light green lighten-1" id="next">
			Siguiente <i class="material-icons right">save</i>
		</button>
	</div>
</div>

<script>
    $("select").formSelect();

    $("#prev").click(function(ev){
        $("#form-container").hide().load("alimentacion/" + this.dataset.id + "/").fadeIn("slow");
    });

    $("#next").click(function(ev){
        ev.preventDefault();
        var salud = {
            beneficiario_list_id : $('#beneficiario').val(),
            servicio_salud_list_id : $('#servicio').val(),
            enfermedades_list_id : $('#enfermedad').val()
        };
        var id = this.dataset.id;
        $.ajax({
            type: 'POST',
            url : 'servicios-salud/crupdate/{{ ese.id }}/',
            datatype : "json",
            crossDomain: false,
            contentType: "application/json; charset=utf-8",
            beforeSend: function (jqXHR, settings) {
                jqXHR.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            },
            data : JSON.stringify(salud),
            success: function(response){
                response = JSON.parse(response);
                M.toast({
                    html: 'Sección de Salud actualizada con éxito',
                    displayLength: 5000,
                    activationPercent: 1
                });
                $("#form-container").hide().load("vehiculos/" + response.id + "/").fadeIn("slow");
            }
        });
    });
</script>