<center><h4> Vehículos </h4></center>
<br/>
<div class="row">
    <div class="input-field col s4">
        <input type="text" id="propietario">
        <label for="propietario">Propietario</label>
    </div>
    <div class="input-field col s4">
        <input type="text" id="marca"/>
        <label for="marca">Marca</label>
    </div>
    <div class="input-field col s4">
        <input type="text" id="modelo"/>
        <label for="modelo">Modelo</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s4">
        <input type="text" id="valor_actual"/>
        <label for="valor_actual">Valor Actual</label>
    </div>
    <div class="input-field col s3">
        
        <label for="pagado">
            <input type="checkbox" id="pagado"/>
            <span>¿Totalmente Pagado?</span>
        </label>
    </div>
    <div class="input-field col s4">
        <input type="text" id="adeudo"/>
        <label for="adeudo">Adeudo</label>
    </div>
    <div class="col s1">	
  		<a id="add_ingreso" class="btn waves-effect waves-light green lighten-1"><i class="material-icons">save</i></a>
		<!--<button style="margin-top: 37%" id="add_dependiente" class="btn btn-primary btn-block">Agregar</button>-->
	</div>
</div>
<br />
<div class="row">
    <div class="col s12">
        <table class="stripped highlight">
            <thead>
                <th >Propietario</th>
                <th style="width:400px;">Marca</th>
                <th style="width:100px;">Modelo</th>
                <th style="width:200px;">Valor actual</th>
                <th style="width:150px;">¿Pagado?</th>
                <th style="width:200px;">Adeudo</th>
                <th style="width:150px;">Acciones</th>
            </thead>
            <tbody id="append_ingresos">
                {% for dato in datos %}
					<tr id="int-{{dato.id}}" data-id="{{ dato.id }}" data-url="vehiculos/crupdate/{{ id }}/{{ dato.id }}">
                        <td 
                            data-value="{{ dato.propietario }}" 
                            data-key="propietario"
                            class="editable">
                            {{ dato.propietario }}
                        </td>
						<td 
                            data-value="{{ dato.marca }}" 
                            data-key="marca"
                            class="editable">
                            {{ dato.marca }}
                        </td>
						<td 
                            data-value="{{ dato.modelo }}" 
                            data-key="modelo"
                            class="editable">
                            {{ dato.modelo }}
                        </td>
                        <td 
                            data-value="{{ dato.valor_actual }}" 
                            data-key="valor_actual"
                            class="editable">
                            ${{ dato.valor_actual }}
                        </td>
                        <td 
                            data-value="{{ dato.pagado }}" 
                            data-key="pagado"
                            class="editable check">
                            {% if dato.pagado %} Sí {% else %} No {% endif %}
                        </td>
						<td 
                            data-value="{{ dato.adeudo }}" 
                            data-key="adeudo"
                            class="editable">
                            {{ dato.adeudo }}
                        </td>
						<td><a class="btn waves-effect waves-light red lighten-1 eliminar modal-trigger" href="#genericModal" data-id="{{ dato.id }}" style="color:#fff;"><i class="fas fa-times"></i></a>
                        <a class="btn waves-effect waves-light blue lighten-1 editar" data-id="{{ dato.id }}" style="color:#fff;"><i class="fas fa-edit"></i></a></td>
					</tr>
				{% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br />
<div class="row">
	<div class="col s2 push-s1">
		<button type="button" data-id="{{ id }}" class="btn waves-effect waves-light light-blue lighten-1" id="prev">
			Anterior <i class="material-icons left">chevron_left</i>
		</button>
	</div>
	<div class="col s3 push-s8">
		<button type="button" data-id="{{ id }}" class="btn waves-effect waves-light green lighten-1 pulse" id="next">
			Siguiente <i class="material-icons right">send</i>
		</button>
	</div>
</div>

<script>
    $(document).ready(function(){
        $('select').formSelect();

        $("#prev").click(function(ev){
			$("#form-container").hide().load("servicios-salud/" + this.dataset.id + "/").fadeIn("slow");
		});
		$("#next").click(function(ev){
			$("#form-container").hide().load("observaciones/" + this.dataset.id + "/").fadeIn("slow");
            //window.location.href = '/ese/pacientes/{{ paciente }}';
		});
        $("#add_ingreso").click(function(ev){
            ev.preventDefault();
            var vehiculo = {
                propietario : $("#propietario").val(),
                marca : $("#marca").val(),
                modelo : $("#modelo").val(),
                valor_actual : $("#valor_actual").val(),
                pagado : $("#pagado").prop('checked'),
                adeudo : $("#adeudo").val()
            };
            $.ajax({
                url : 'vehiculos/crupdate/{{ id }}/0',
                type : 'POST',
                data : JSON.stringify(vehiculo),
                datatype : "json",
				crossDomain: false,
				contentType: "application/json; charset=utf-8",
				beforeSend: function (jqXHR, settings) {
					jqXHR.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
				},
                success : function(response){
                    response = JSON.parse(response);
                    var parent = $("<tr id='int-" + response.id + "' data-id='" + response.id + "' data-url='vehiculos/crupdate/{{ id }}/" + response.id + "'></tr>");
                    $(parent).append("<td data-key='propietario' class='editable' data-value='" + vehiculo.propietario + "'>" + vehiculo.propietario + "</td>")
                        .append("<td data-key='marca' class='editable' data-value='" + vehiculo.marca + "'>" + vehiculo.marca + "</td>")
                        .append("<td data-key='modelo' class='editable' data-value='" + vehiculo.modelo + "'>" + vehiculo.modelo + "</td>")
                        .append("<td data-key='valor_actual' class='editable' data-value='" + vehiculo.valor_actual + "'>" + vehiculo.valor_actual + "</td>")
                        .append("<td data-key='pagado' class='editable check' data-value='" + vehiculo.pagado + "'>" + (vehiculo.pagado ? "Sí" : "No") + "</td>")
                        .append("<td data-key='marca' class='editable' data-value='" + vehiculo.adeudo + "'>" + vehiculo.adeudo + "</td>")
                        .append("<td><a href='#genericModal' data-id='" + response.id + "' class='btn waves-effect waves-light red lighten-1 eliminar' style='color:#fff;''><i class='fas fa-times'></i></a>" +
                        "<a class='btn waves-effect waves-light blue lighten-1 editar' data-id='" + response.id + "' style='color:#fff;''><i class='fas fa-edit'></i></a><td>");
                    $("#append_ingresos").append(parent);
                }
            });
        });
    });


    $(document).on('click', '.eliminar', function(ev){
        ev.preventDefault();
        var id = this.dataset.id;
        $("#genericModal .modal-title").html("<i style='color:crimson;' class='fas fa-exclamation-circle'></i> Se eliminará un elemento");
        $("#genericModal .modal-body").html("<strong>¿Está seguro que desea eliminar este elemento?</strong>");
        $("#genericModal .confirmar").html("Eliminar").attr("data-target", id);
    });
    
    $(document).on('click', '.confirmar', function(ev){
        ev.preventDefault();
        var id = this.dataset.target
        $.ajax({
            type : 'POST',
            url : 'vehiculos/delete/' + id,
            data : {},
            beforeSend: function (jqXHR, settings) {
                jqXHR.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            },
            success: function(response){
                $("#int-" + id).fadeOut('slow');
                M.toast({
                    html: 'Vehículo eliminado con éxito',
                    displayLength: 5000,
                    activationPercent: 1
                });
            }
        });
    });
    
</script>