<center><h4> Vivienda </h4></center>

<div class="row">
	<div class="input-field col s2">
		<label for="habitantes" class="{% if  datos.ese.numero_habitantes != None %} active {% endif %}">Habitantes</label>
		<input type="text" value="{{ datos.ese.numero_habitantes|default_if_none:"" }}" class="form-control" id="habitantes"/>
	</div>
    <div class="input-field col s2">
		<select id="tipo_vivienda">
			<option></option>
			{% for vivienda in datos.tipos_vivienda %}
				<option {% if  vivienda.id == datos.ese.tipo_vivienda_list_id %} selected {% endif %} value="{{ vivienda.id }}">{{ vivienda.texto }}</option>
			{% endfor %}
		</select>
        <label  for="tipo_vivienda">Tipo Vivienda</label>
    </div>
    <div class="input-field col s2">
		<select id="tipo_propiedad">
			<option></option>
            {% for propiedad in datos.tipos_propiedad %}
                <option {% if  propiedad.id == datos.ese.tipo_propiedad_list_id %} selected  {% endif %} value="{{ propiedad.id }}">{{ propiedad.texto }}</option>
            {% endfor %}
        </select>
        <label  for="tipo_propiedad">Tipo Propiedad</label>
    </div>
	<div class="input-field col s2">
		<label for="tam_terreno" class="{% if  datos.ese.m2_terreno != None %} active {% endif %}">m<sup>2</sup> Terreno</label>
		<input type="text" class="form-control" id="tam_terreno" value="{{ datos.ese.m2_terreno|default_if_none:"" }}"/>
	</div>
	<div class="input-field col s2">
		<label for="tam_construccion" class="{% if  datos.ese.m2_construccion != None %} active {% endif %}">m<sup>2</sup> Construcción</label>
		<input type="text" class="form-control" id="tam_construccion" value="{{ datos.ese.m2_construccion|default_if_none:"" }}"/>
	</div>
	<div class="input-field col s2">
		<label for="tiempo_residencia" class="{% if  datos.ese.tiempo_residencia != None %} active {% endif %}">Tiempo Residencia</label>
		<input type="text" class="form-control" id="tiempo_residencia" value="{{ datos.ese.tiempo_residencia|default_if_none:"" }}"/>
	</div>
</div>
<div class="row">
	<div class="input-field col s4">
		<select id="mat_paredes">
			<option></option>
			{% for pared in datos.mat_paredes %}
				<option {% if  pared.id == datos.ese.tipo_paredes_list_id %} selected {% endif %}  value="{{ pared.id }}">{{ pared.texto }}</option>
			{% endfor %}
		</select>
        <label  for="mat_paredes">Material paredes</label>
    </div>
	<div class="input-field col s4">
		<select id="mat_techo">
			<option></option>
			{% for techo in datos.mat_techo %}
				<option  {% if  techo.id == datos.ese.tipo_techo_list_id %} selected {% endif %} value="{{ techo.id }}">{{ techo.texto }}</option>
			{% endfor %}
		</select>
        <label  for="mat_techo">Material techo</label>
    </div>
	<div class="input-field col s4">
		<select id="mat_piso">
			<option></option>
			{% for piso in datos.mat_piso %}
				<option  {% if  piso.id == datos.ese.tipo_piso_list_id %} selected {% endif %} value="{{ piso.id }}">{{ piso.texto }}</option>
			{% endfor %}
		</select>
        <label  for="mat_piso">Material piso</label>
    </div>
</div>

<div class="row">
	<div class="input-field col s4">
		<select id="servicios" multiple>
			{% for servicio in datos.lista_servicios %}
				<option {% for ese_serv in datos.servicios %} {% if ese_serv.id == servicio.id %} selected {% endif %} {% endfor %} value="{{ servicio.id }}">{{ servicio.texto }}</option>
			{% endfor %}
		</select>
        <label  for="servicios">Servicios</label>
    </div>
	<div class="input-field col s4">
		<select id="higiene">
			<option></option>
			{% for higiene in datos.lista_higiene %}
				<option {% if  higiene.id == datos.ese.higiene_list_id %} selected {% endif %} value="{{ higiene.id }}">{{ higiene.texto }}</option>
			{% endfor %}
		</select>
        <label  for="higiene">Higiene</label>
    </div>
	<div class="input-field col s4">
		<select id="estado_general">
			<option></option>
			{% for estado_general in datos.lista_estado_general %}
				<option {% if estado_general.id == datos.ese.estado_general_vivienda_list_id %} selected {% endif %} value="{{ estado_general.id }}">{{ estado_general.texto }}</option>
			{% endfor %}
		</select>
        <label  for="estado_general">Estado General</label>
    </div>
</div>

<div class=row>
	<div class="col s6">
		<div class="card blue z-depth-4">
			<div class="card-content white-text">
				<p class="center-align">CARACTERÍSTICAS DEL INMUEBLE</p>
			</div>
			<div class="card-content grey lighten-4">
				<ul>
					{% for caracteristica in datos.lista_caracteristicas %}
						<li class='list-content row'>
							<div class='col s7'>{{ caracteristica.texto }}</div>
							<div class='input-field col s5'>
								<label class="active" for'car-{{ caracteristica.id }}'>Cantidad.</label>
								<input class="caracteristica" {% for car in datos.caracteristicas %}{% if car.caracteristicas_list_id == caracteristica.id %} value="{{ car.cantidad }}" {% endif %}{% endfor %} data-id='{{ caracteristica.id }}' id='car-{{ caracteristica.id }}' type='text' />
							</div>
						</li>
					{% endfor %}
			</div>
		</div>
	</div>
	<div class="col s6">
		<div class="card blue z-depth-4">
			<div class="card-content white-text">
				<p class="center-align">MANAJE</p>
			</div>
			<div class="card-content grey lighten-4">
				<ul>
					{% for manaje in datos.lista_manajes %}
						<li class='list-content row'>
							<div class='col s7'>{{ manaje.texto }}</div>
							<div class='input-field col s5'>
								<label class="active" for'car-{{ manaje.id }}'>Cantidad.</label>
								<input class="manaje" {% for man in datos.manajes %}{% if man.manaje_list_id == manaje.id %} value="{{ man.cantidad }}" {% endif %}{% endfor %} id='car-{{ manaje.id }}' data-id='{{ manaje.id }}' type='text' />
							</div>
						</li>
					{% endfor %}
			</div>
		</div>
	</div>
</div>

<br>
<div class="row">
	<div class="col s2 push-s1">
		<button type="button" data-id="{{ datos.ese.id }}" class="btn waves-effect waves-light light-blue lighten-1" id="prev">
			Anterior <i class="material-icons left">chevron_left</i>
		</button>
	</div>
	<div class="col s3 push-s8">
		<button type="button" data-id="{{ datos.ese.id }}" class="btn waves-effect waves-light green lighten-1" id="next">
			Siguiente <i class="material-icons right">save</i>
		</button>
	</div>
</div>


<script>
$(document).ready(function(){
    $('select').formSelect();
    $("#prev").click(function(ev){
        $("#form-container").hide().load("egresos/" + this.dataset.id + "/").fadeIn("slow");
    });

    $("#next").click(function(ev){
        ev.preventDefault();
        var manajes = preparar_array(".manaje");
        var caracteristica = preparar_array(".caracteristica");

        var vivienda = {
            numero_habitantes : $("#habitantes").val().trim(),
            tipo_vivienda_list_id: $("#tipo_vivienda").val().trim(),
            tipo_propiedad_list_id : $("#tipo_propiedad").val().trim(),
            m2_terreno : $("#tam_terreno").val().trim(),
            m2_construccion : $("#tam_construccion").val().trim(),
            tiempo_residencia : $("#tiempo_residencia").val().trim(),
            tipo_piso_list_id : $("#mat_piso").val().trim(),
            tipo_techo_list_id : $("#mat_techo").val().trim(),
            tipo_paredes_list_id : $("#mat_paredes").val().trim(),
            higiene_list_id : $("#higiene").val().trim(),
            servicios : $("#servicios").val(),
            estado_general_vivienda_list_id : $("#estado_general").val(),
            manajes : manajes,
            caracteristicas: caracteristica
        };
        var id = this.dataset.id;
        $.ajax({
            type: 'POST',
            url : 'vivienda/crupdate/{{ datos.ese.id }}',
            datatype : "json",
            crossDomain: false,
            contentType: "application/json; charset=utf-8",
            beforeSend: function (jqXHR, settings) {
                jqXHR.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            },
            data : JSON.stringify(vivienda),
            success: function(response){
                response = JSON.parse(response);
                M.toast({
                    html: 'Vivienda actualizada con éxito',
                    displayLength: 5000,
                    activationPercent: 1
                });
                $("#form-container").hide().load("alimentacion/" + id + "/").fadeIn("slow");
            }
        });
    });
});


</script>
