{% extends "ese/header.html" %}

{% block content %}
{% set res_pac = 0 %}
{% set res_ts = 0 %}

<hr/>
<div class="row">
    <div class="col-4">
        <div class="text-center text-uppercase font-weight-bold">Datos Paciente</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Pac</th>
                    <th>Tipo</th>
                    <th>Res</th>
                    <th>%</th>
                </tr>
            </thead>
            <tbody>
                {% for enc in vfq %}
                {% set res_pac = enc.p1 + enc.p2 + enc.p3 + enc.p4 + enc.p5 + enc.p6 + enc.p7a + enc.p7b + enc.p8 + enc.p9 + enc.p10 + enc.p11a + enc.p11b %}
                <tr>
                    <td>{{ enc.id_paciente }}</td>
                    <td>{{ enc.pre }}</td>
                    <td>{{ res_pac }}</td>
                    <td>{{ (((res_pac)/52)*100)|round(2,'floor') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-8">
        <div class="text-center text-uppercase font-weight-bold">Datos T.S y Análisis</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Res - TS</th>
                    <th>% - TS</th>
                    <th>Dist</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for enc in vfq %}
                {% set res_pac = enc.p1 + enc.p2 + enc.p3 + enc.p4 + enc.p5 + enc.p6 + enc.p7a + enc.p7b + enc.p8 + enc.p9 + enc.p10 + enc.p11a + enc.p11b %}
                {% set res_ts = enc.p1_ts + enc.p2_ts + enc.p3_ts + enc.p4_ts + enc.p5_ts + enc.p6_ts + enc.p7a_ts + enc.p7b_ts + enc.p8_ts + enc.p9_ts + enc.p10_ts + enc.p11a_ts + enc.p11b_ts %}
                <tr>
                    <td>{{ res_ts }}</td>
                    <td>{{ (((res_ts)/52)*100)|round(2,'floor') }}</td>
                    <td>{{ res_pac - res_ts }}</td>
                    <td>{{ (res_pac + res_ts)/2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}