{% extends "project_zarah/header.html" %}
{% load tags %}
{% load static %}

{% block content %}

<style>
	.item-layer button{
		float:right;
	}
	canvas {
		/*#position: absolute;
		top: 0;
		left: 0;*/
	}
</style>
<link href="{% static "style.css" %}" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<br /> 
<div class="particle-network-animation">
</div>
<div class="row">
	<div class="col-md-12">
		<p><center><h3>Red Neuronal Zara</h3></center></p>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<center><h4 id="acc_string">Precisión: {{ trained_model.model_acc|multiply:100 }} %</h4></center>
		<div class="progress">
			<div id="acc_progress"
			class="progress-bar bg-success progress-bar-striped progress-bar-animated" 
			style="width: {{ trained_model.model_acc|multiply:100 }}%" 
			role="progressbar" 
			aria-valuenow="{{ trained_model.model_acc|multiply:100 }}" 
			aria-valuemin="0" 
			aria-valuemax="100"></div>
		</div>
	</div>
	<div class="col-md-6">
		<center><h4 id="error_string">Error (Loss): {{ trained_model.model_error|multiply:100 }} %</h4></center>
		<div class="progress">
			<div id="error_progress"
				class="progress-bar bg-danger progress-bar-striped progress-bar-animated" 
				style="width: {{ trained_model.model_error|multiply:100 }}%" 
				role="progressbar" 
				aria-valuenow="{{ trained_model.model_error|multiply:100 }}" 
				aria-valuemin="0" 
				aria-valuemax="100"></div>
		</div>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-6">
		<center><h3>Parámetros</h3></center>
		<hr />
		<div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Epochs (Iteraciones)" id="epochs"/>
                    </div>
                    <div class="col">
                        <select class="form-control" placeholder="Algoritmo" id="algoritmo" disabled>
                            <option>Algoritmo...</option>
                            <option {% if trained_model.model_optimizer == "adam" %} selected {% endif %} value="adam">Adam</option>
                            <option {% if trained_model.model_optimizer == "sgd" %} selected {% endif %} value="sgd">SGD</option>
                            <option {% if trained_model.model_optimizer == "rmsprop" %} selected {% endif %} value="rmsprop">RMSprop</option>
                            <option {% if trained_model.model_optimizer == "adagrad" %} selected {% endif %} value="adagrad">ADAGRAD</option>
                            <option {% if trained_model.model_optimizer == "adadelta" %} selected {% endif %} value="adadelta">ADADELTA</option>
                        </select>
                    </div>
                    <div class="col">
                        
                        <select class="form-control" placeholder="Cálculo del error (mse, sparce_categorical..)" id="error">
                            <option>Cálculo del Error...</option>
                            <option {% if trained_model.model_loss == "mse" %} selected {% endif %} value="mse">MSE</option>
                            <option {% if trained_model.model_loss == "sparse_categorical_crossentropy" %} selected {% endif %} value="sparse_categorical_crossentropy">Sparce Categorical Cross</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Momentum" id="momentum"/>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Lreaning Rate" id="lr"/>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<div class="col-md-6">
		<center><h3>Capas</h3></center>
		<hr />
		<div class="row">
			<div class="col">
				<input type="text" id="lay_units" placeholder="Cantidad de Neuronas" class="form-control" />
			</div>
			<input type="hidden" id="model_id" value="{{ trained_model.id }}" />
			<div class="col">
				<select class="form-control" id="lay_activation">
					<option value="relu">ReLU</option>
					<option value="sigmoid">Sigmoide</option>
					<option value="tanh">Tangente Hipérbola</option>
					<option value="softmax">Softmax</option>
				</select>
			</div>
			<div class="col">
				<button type="button" id="add_layer" class="btn btn-info btn-block" >
					Agregar Capa
				</button>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col" >
				<div class="list-group" id="layers_container">
				{% for layer in trained_model.model_layers_set.all %}
					<div class="list-group-item" id="layer_{{ layer.id }}">
						<div class="item-layer">
							Neuronas: {{ layer.layer_units }} # Activación: {{ layer.layer_activation }}
							<button class="btn btn-danger del_layer" data-id="{{ layer.id }}"><i class="fas fa-times"></i></button>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<br />
<div class="row">
	<div class="col">
		<center>
			<button type="button" id="train_rna" class="btn btn-primary btn-lg" >
				Entrenar
			</button>
		</center>
	</div>
</div>

<hr />
<div id="c" 
	data-neurons="{{ model_layers|sumar }}"
	data-layers="{{ model_layers|contar }}">
</div>


<!-- <div class="row">
	<div class="col">
		<input type="text" id="predict" class="form-control" placeholder="Valor a predecir"/>
	</div>
	<div class="col-md-2">
		<button type="button" id="predict_rna" class="btn btn-success btn-block" >
			Predecir
		</button>
	</div>
	<div class="col-md-2" id="predicted_value">
		
	</div>
</div>-->

	<script
  		src="https://code.jquery.com/jquery-3.4.1.min.js"
  		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
 	<script src="https://kit.fontawesome.com/e50f7c9171.js"></script>
	<script src="{% static "script.js" %}"></script>
<script>
	$(document).ready(function(){
		$.ajaxSetup({
			headers: {
					'X-CSRFToken': '{{ csrf_token }}'
			}
		});

		$("#train_rna").click(function(ev){
			ev.preventDefault();
			
			$("#train_rna").html("");
			var spinner = $("<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span>");
			$("#train_rna").append(spinner).append(" Entrenando...").prop('disabled', true);
			var params = {
					epochs : $("#epochs").val(),
					algoritmo : $("#algoritmo").val(),
					error : $("#error").val(),
                    momentum : $("#momentum").val().trim(),
                    lr : $("#lr").val().trim(),
                    model : $("#model_id").val()
				}
			$.ajax({
				url: '/project_zarah/train/',
				type: 'POST',
				data: JSON.stringify(params),
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				success: function(response){
					$("#train_rna").html("Entrenar").prop("disabled", false);
                    var absolute_error = Number((response.error * 100).toFixed(4));
                    var absolute_precision = Number(((1.0 - response.error) * 100).toFixed(4));
					$("#metrics").html(
						"Error: " + absolute_error + 
						"%<br/>Precision: " + absolute_precision + "%"
					);
                    $("#acc_progress").animate({
				        width : absolute_precision + '%'
			        });
                    $("#error_progress").animate({
                        width : absolute_error + '%'
                    });
                    $("#error_string").html('Error (Loss): ' + absolute_error + ' %');
                    $("#acc_string").html('Precisión: ' + absolute_precision + ' %');
				}
			});
		});

		$("#predict_rna").click(function(ev){
			ev.preventDefault();
			$("#predict_rna").html("");
			var spinner = $("<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span>");
			$("#predict_rna").append(spinner).append(" Prediciendo...").prop('disabled', true);
			var params = {
					value : $("#predict").val()
				}
			$.ajax({
				url: '/ese/predict/',
				type: 'POST',
				data: JSON.stringify(params),
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				success: function(response){
					$("#predict_rna").html("Predecir").prop("disabled", false);
					$("#predicted_value").html("Valor aproximado: <br/>$" + 
						(response.predicted).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
					);
				}
			});
		});
		
        $("#add_layer").click(function(ev){
            ev.preventDefault();
            var layer = {
                units : $("#lay_units").val(),
                activation : $("#lay_activation").val(),
                model : $("#model_id").val(),
                add : true
            };
			if(($("#lay_units").val().trim() == "") || ($("#lay_activation").val().trim() == ""))
			{
				Swal.fire({
					type: 'error',
					title: 'Campos vacíos',
					text: 'Faltan algunas cosas para añadir la capa'
				});
				return false;
			}
			$.ajax({
				url: '/zarah/add_layer/',
				type: 'POST',
				data: JSON.stringify(layer),
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				success: function(response){
					$("#layers_container").append("<div class='list-group-item' id='layer_" + response.id + "'>" +
						"<div class='item-layer'>Neuronas: " + layer.units + " # Activación: " + layer.activation + 
						"<button class='btn btn-danger del_layer' data-id='" + response.id + "'><i class='fas fa-times'></i></button>" +
						"</div>");
				}
				
        	});
			$("#lay_units").val("");
			$("#lay_activation").val("");
		});


		$(document).on('click','.del_layer', function(ev){
			ev.preventDefault();
			var layer = {
                id : this.dataset.id,
            };
			var element = this;
			$.ajax({
				url: '/zarah/del_layer/',
				type: 'POST',
				data: JSON.stringify(layer),
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				success: function(response){
					let parent = element.parentElement.parentElement;
					$(parent).toggle('slow');
				}
        	});
		});
	});
</script>

{% endblock %}